.TodoListSummary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.textContent {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

.header {
  color: #ff2058;
  margin: 5px;
}

.counts {
  display: flex;
  margin-left: 10px;
  color: #555;
  width: 100%;
}

.countsText {
  display: inline;
  margin-right: 40px;
}

.countsDigit {
  color: #ff2058;
  margin-left: 15px;
}
