.App {
  display: grid;
  grid-template-columns: minmax(200px, 400px) 3fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "header header"
    "sidebar content";
}

.App__Header {
  grid-area: header;
}

.App__Sidebar {
  box-shadow: 2px 5px 2px 2px rgba(0, 0, 0, 0.25);
  grid-area: sidebar;
  height: calc(100vh - 70px);
}
.App_Content {
  grid-area: content;
}
